:root {
  --main-bg-color: #DDF2FD;
  
  --primary-color: #9BBEC8;
  --secondary-color: #427D9D;
  --tertiary-color: #164863;

  --light-secondary-color: #71a3bd;

  --header-height: 60px;
  --footer-height: 100px;
  --body-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.app {
  width: 100vw;
  height: 100vh;

  background-color: var(--main-bg-color);

  display: flex;
  flex-direction: column;

  user-select: none;
}

/* -------- -------- -------- */
/* -------- -------- -------- */
/* -------- -------- -------- */

.header {
  width: calc(100vw - 60px);
  height: var(--header-height);

  display: flex;
  align-items: center;
  flex-direction: row;

  padding: 0 30px;

  column-gap: 15px;
}

.header .item {
  background-color: white;
  padding: 5px 10px;

  cursor: pointer;
  border-radius: 8px;
}

.header .item.active {
  background-color: var(--primary-color);
  color: white;
}

/* -------- -------- -------- */
/* -------- -------- -------- */
/* -------- -------- -------- */

.body {
  width: 100vw;
  height: var(--body-height);

  display: flex;
  justify-content: center;
  align-items: center;
}

.body .card {
  position: relative;
  background-color: var(--primary-color);

  min-width: 300px;

  width: 50%;
  height: 60%;

  border-radius: 12px;

  box-shadow: 8px 8px 0px 0px var(--tertiary-color);
  -webkit-box-shadow: 8px 8px 0px 0px var(--tertiary-color);
  -moz-box-shadow: 8px 8px 0px 0px var(--tertiary-color);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  cursor: pointer;

  scale: 1;
  transition: 0.5s;
}

.card:hover {
  scale: 1.02;
  transition: 0.5s;
}

.card .question, .card .answers {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% - 60px);
  
  padding: 30px;
}

.title {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
}

.title p {
  margin: 0;

  color: var(--tertiary-color);
  
  font-size: small;
}

.card .question h1 {
  font-size: large;
  color: var(--tertiary-color);

  text-align: center;
  user-select: none;
}

.answers ul {
  list-style: decimal;
  font-size: large;

  color: var(--tertiary-color);
}

.answers ul li {
  margin-bottom: 10px;
}

.answers p {
  font-size: large;
  color: var(--tertiary-color);

  user-select: none;
}

/* -------- -------- -------- */
/* -------- -------- -------- */
/* -------- -------- -------- */

.footer {
  width: 100vw;
  height: var(--footer-height);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--light-secondary-color);
  font-style: italic;
}

.footer p span {
  background-color: white;
  padding: 5px 10px;
  margin: 0 2px;

  font-style: normal;

  font-weight: bold;
  color: var(--tertiary-color);
  border-radius: 5px;
}

/* -------- -------- -------- */
/* -------- -------- -------- */
/* -------- -------- -------- */